.title-wrapper {
  margin-bottom: 4rem;
}

.car {
  margin-bottom: 2rem;
}

.car-image {
  height: 2rem;
}

.car-name {
  color: #fff;
}

.road {
  border-bottom: 1px dashed #fff;
  padding-top: 1rem;
}